*{
  font-family: 'verdana';
}
.one {
  color: #fff;
  font-family: Impact, fantasy;
  font-size: 25px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-transform: uppercase;
}
html{
  height: 100%;
  width: 100%;
}
.active{
  color: black !important;
  text-decoration:underline !important;
  overflow: hidden !important;
  text-transform: uppercase !important;
}
body{
background-image: url(большой_фон.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 100%;
}
.navigation{
    border-radius: 24px;
    width: 650px;
    justify-content: center;
}
.img-container-1{
  width: 100%;
  height: 50%;
  background-image: url(./img/feedbacks/Первое\ фото.svg);
  background-size: cover;
  background-position: center;
}
.img-container-2{
  width: 100%;
  height: 50%;
  background-image: url(./img/feedbacks/второе\ фото.svg);
  background-size: cover;
  background-position: center;
}
.img-container-3{
  width: 100%;
  height: 50%;
  background-image: url(./img/feedbacks/третье\ фото.svg);
  background-size: cover;
  background-position: center;
}
.text-big{
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat';
  position: absolute;
  top: 50px;
  left: 73px;
}
.text-little{
  font-size: 13px;
  color: white;
  font-family: 'Montserrat';
  position: absolute;
  top: 70px;
  left: 73px;
}
.text-super-big{
  color: white;
  font-family: 'Montserrat';
  position: absolute;
  top: 100px;
  left: 25px;
}

.photo{
  position: absolute;
  top: 50px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 30%;
}

.block{          
  background-color: white;
  width: 90%;
  height: 500px;
  margin: 30px auto 0 auto;
  position: relative;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text{
  font-family:'Roboto Slab', serif;
  margin: 10px;
}

.link{
  text-decoration: none;
  color: purple;
}
.nav-link{
  font-family:'Roboto Slab', serif;
  color: white;
  text-decoration: none;
}
@media(max-height: 430px){
  body{
    background-image: url(большой_фон.jpg);
  }

}
@media(max-width: 620px){
  body{
    background-image: url(маленький_фон.jpg);
  }
  .nav-link:nth-child(2){
    margin: 0 !important;
  }
}
@media(max-width: 390px){
  .text{
    font-size: 13px;
  }
}

